<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{{navbar}}}
    <!-- Navbar parcial -->
    <div class="main-content">
      {{{body}}}
      <!-- Contenido principal -->
    </div>
    {{{footer}}}
    <!-- Footer parcial -->
  </body>
</html>