<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <div>
      <h1>Lista de productos</h1>

      <h2>1. Jeans - Ropa casual - C贸digo: 40 - Precio: $75,000 - Stock: 23</h2>
      <h2>2. Remeras - Ropa casual - C贸digo: 24 - Precio: $12,500 - Stock: 23</h2>
      <h2>3. Zapatillas - Calzado deportivo - C贸digo: 30 - Precio: $123,500 -
        Stock: 23</h2>
      <h2>4. Zapatos - Calzado deportivo - C贸digo: 31 - Precio: $80,000 - Stock:
        15</h2>

      <ul>

        {{#each productos}}
          <li>{{this.title}} - Precio: {{this.price}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>