<div>
  <h1>Lista de productos</h1>
  <h2>1,"title":"Jeans","description":"Ropa
    casual","code":40,"price":"75000","status":true,"stock":23,"category":"individual"</h2>,
  <h2>2,"title":"Remeras","description":"Ropa
    casual","code":24,"price":"12500","status":true,"stock":23,"category":"individual"</h2>,
  <h2>3,"title":"Zapatillas","description":"Calzado
    deportivo","code":30,"price":"123500","status":true,"stock":23,"category":"individual"</h2>,
  <h2>4,"title":"Zapatos","description":"Calzado
    deportivo","code":31,"price":"$80000","status":true,"stock":"15","category":"individual"</h2>
  <ul>
    {{#each productos}}
      <li>{{this.name}} - Precio: {{this.price}}</li>
    {{/each}}
  </ul>
</div>